body{
    color: rgb(255, 255, 255);
    margin: 50px 50px;
    padding: 20px;
}
.logo {
        text-align: left;
        width: 60px;
        height: 60px;
}
.nav {
        position: sticky;
        font-size: x-large;
        padding-bottom:50px;
        margin-top: px;
        text-align: right;
        


}

.menu{
    display: inline;
   
}

.menu{
    text-decoration: none;

}

.main_box {
    display:inline-flex;
    flex-direction: row;
    gap: 30px;
   


}
.body_header {
            font-size: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: bolder;
            border: 0px;
            color: rgb(0, 0, 0);
        }


.para {
            /* display: block; */
           font-size:large;
            font-weight: 100;
            color: rgb(114, 114, 114);

}
.box {  
            width: 6cm;   
            height: 0.8cm;
             border-radius: 8px;
             text-align:left;
             padding-left: 20px;

}



.sigin_btn {
            width: 2.5cm;
            height: 1cm;
            margin-top: 20px;
            margin-bottom: 20px;
            
             border-radius: 20px;
             background-color: rgb(0, 17, 255);
             color: rgb(255, 255, 255);
             text-align: center;
             font: 800;
             font-size: large;
            
}


.photo1 {
  
    /* position:relative */
    position: relative;
    display: inline;
 width:500px;
 height: 300px;
}
.photo2 {
    display: block;
    margin-top: 20px;
    width: 100px;
    height: 60px;

}

.footer {

    color: black;
    font-weight: bolder;   
    font-size: 40px;
}

